<div class="container-big-card">
    <div class="big-card-photo">
        <img src="https://img.freepik.com/vetores-gratis/ilustracao-de-galeria-icone_53876-27002.jpg?size=626&ext=jpg&ga=GA1.1.1803636316.1701129600&semt=ais" height="250px" alt="temp">
    </div>
    <div class="big-card-title">
        <h1><a href="#">Text without connection!</a></h1>
    </div>
    <div class="bid-card-description">
        <p>
            <a href="#">Description area for the image!</a>
        </p>
    </div>
</div>
