.container-big-card {
    border: solid white 2px;
    margin-left: 15px;
    margin-right: 15px;
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card-photo > img {
    width: 100px;
    min-width: 400px;
}

.big-card-title > h1 {
    margin-top: 15px;
    font-size: 30px;
}

.bid-card-description {
    margin-top: 10px;
}

.bid-card-description > p > a {
    color: grey;
}